.contenedor-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(65, 137, 168);
}

#error {
    display: none;
}

#nombre-categoria {
    display: none;
}

#nombre-categoria {
    display: none;
}

#cuadro-categoria-nueva {
    display: none;
}

.contenedor-card {
    background: white;
    width: 250px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-limpiar {
    display: none;
}

input {
    margin-bottom: 20px;
}

select {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}